{% extends 'base.html' %}

{% block title %}
    About
{% endblock %}

{% block body %}
    <div class="container">
        <p class="h2 my-2">О нас</p>
        <p class="my-2">OTUS сегодня – это более 130 авторских курсов для IT-специалистов из
            разных направлений таких как программирование, тестирование, инфраструктура, информационная
            безопасность, управление и Data Science. И что важно, у нас есть программы для разных уровней
            подготовки от новичков до профессионалов, которые хотят освоить продвинутые навыки. <br>Наша миссия
            — делать обучение осмысленным, реализуя взаимосвязь между ожиданиями работодателей, компетенциями
            специалистов и возможностями преподавателей.</p>
    <a href="https://otus.ru/about" class="my-3">Читать больше</a>
    </div>
{% endblock %}