{% extends 'base.html' %}
{% block title %}
    Posts
{% endblock %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">User</th>
            <th scope="col">Title</th>
            <th scope="col">Body</th>
            <th scope="col">Created at</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>
                    {{ post.user.username }}
                </td>
                <td>
                   <a href="{% url 'homework:post' pk=post.pk %}">{{ post.title }}</a>
                </td>
                <td>
                    {{ post.body }}
                </td>
                <td>
                    {{ post.created_at }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}