{% extends 'base.html' %}

{% block title %}
    Confirm delete user #{{ user.username }}
{% endblock %}

{% block body %}
    <h3>Are you sure you want to delete user <code>{{ user.name }}</code></h3>
    <h4>This cannot be undone!</h4>
    <br>
    <div>
        <form method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input class="btn btn-danger" type="submit" value="Delete">
        </form>
    </div>
    <div class="space-top">
        <a href="{{ url_for('users_app.details',user_id=user.id) }}">
            Back to user
        </a>
    </div>
{% endblock %}