{% extends 'base.html' %}

{% block title %}
    User #{{ user.id }} info
{% endblock %}
{% from 'macros/show-flashed-messages.html' import show_flashed_messages_with_categories %}

{% block body %}
    {{ show_flashed_messages_with_categories("dark") }}
    <h3>User {{ user.name }} details</h3>
    <div>
        <a href="{{ url_for('users_app.confirm-delete', user_id=user.id) }}">
            Delete user
        </a>
    </div>
    <div class="space-top">
        <a class="no-underline" href="{{ url_for('users_app.list') }}">
            Back to users list
        </a>
    </div>
{% endblock %}

